.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.main-block{
    margin-top: 15px;
}
.user{
    border: 1px solid #d8d8d8;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.user span{
    font-weight: bold;
}
.form_adding .form-group{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
